/* 1.0 JP fonts */

.ns {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.nss {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.hm {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
